$blue: rgb(118, 186, 199);
$mainOrange: #E97223;
$mainYellow: #f9f14d;
$mainGrn: #1a282b;
$mainLight: #edfcff;
$headerLight: rgb(255, 249, 220);

%navBtn-shared {
  font-size: 1rem;
  background: $blue;
  border: 0;
  border-radius: 0 0 8px 0;
  color: $mainGrn;
  height: 2.7rem;
  margin: 0 5rem 0 0;
  width: 7rem;
}

%logoutBtn-shared {
  background: none;
  border: 3px solid $headerLight;
  border-radius: 8px 0 8px 0;
  color: $headerLight;
  font-size: 1rem;
  height: 3rem;
  margin: 0 3rem 0 0;
  padding: .6rem;
  width: 9rem;
  text-decoration: none;
}

%clearLink-shared {
  border: 3px solid #1a282b;
  border-radius: 8px 0 8px 0;
  color: $headerLight;
  font-size: 1.2rem;
  font-weight: 800;
  height: 3rem;
  // margin: 0 0.5rem;
  text-decoration: none;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: rgba(26, 33, 34, 0.8);
  height: 12rem;
  box-shadow: 0px 16px 57px -2px rgba(26, 33, 34, 1);
  margin: 0 0 1rem 0;
  padding: 0.5rem 0 0.5rem 0;
    h1 {
      color: $headerLight;
      padding: 0.1rem 0 0 10%;
      background: $mainOrange;
      font-family: 'Satisfy';
      font-size: 4rem;
      font-weight: 800;
      margin: 2rem 0 0 0;
    }
}

.NavBar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
    h3 {
      color: #2d2d2d;
      margin: 0 5rem 0 0.4rem;
    }
    h3::before {
      content: 'Welcome, ';
    }
    .btn {
      @extend %clearLink-shared;
    }
    .btn:hover {
      color: $blue;
    }
    .discover {
      width: 20rem;
    }
    .main-link {
      @extend %clearLink-shared;
      width: 5rem;
    }
    .signup {
       margin: 0 4rem 0 0;
    }
  }

  .log-out {
    @extend %logoutBtn-shared;
    margin: 1rem 3rem 0 0;
    width: 6rem;
  }
  .log-out:hover {
    border: 3px solid $blue;
    color: $blue;
  }

  form {
    padding: 1rem;
      input, button, .NavLink {
        box-shadow: 0px 5px 8px 0px rgba(26, 40, 43, .5);
      }
      .login-btn {
        @extend %navBtn-shared;
      }
      .email-input,
      .password-input {
        background: rgba(112, 112, 112, 0.6);
        border: 2px solid #1a282b;
        border: 0;
        font-size: 1.2rem;
        height: 2rem;
        padding: .5rem 0 .3rem 1rem;
      }
      .email-input::placeholder,
      .password-input::placeholder {
        color: rgb(173, 173, 143);
        font-size: 1.2rem;
      }
      .email-input {
        border-radius: 8px 0 0 0;
        margin: 0 .5rem 0 0;
      }
      .NavLink {
        @extend %logoutBtn-shared;
      }
      button:hover {
        background: rgb(160, 233, 247);
      }
      .Navlink:hover {
        color: $blue;
      }
  }
  
.tooltip {
  color: $headerLight;
  cursor: pointer;
  background: $blue;
  border-radius: 5rem;
  display: inline-block;
  position: relative;
  margin: 5px;
  padding: 0.5rem .3rem .1rem .2rem;
  width: 1.5rem;
  height: 1.5rem;
}

.tooltip:before,
.tooltip:after {
  content: '';
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:before {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: $blue transparent transparent transparent;
  top: 1.5rem;
  right: 0.25rem;
  transform: translate(-10px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: $blue;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 120%;
  padding: 0.8rem;
  top: 2.2rem;
  left: -4.8rem;
  width: 10rem;
  height: 2.2rem;
  transform: translateY(-20px);
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
  z-index: 9999;
}

.signup-wrapper {
  display: flex;
  justify-content: center;
}

.signup-cont {
  align-self: center;
  background-color: rgba(118, 186, 199, 0.95);
  border: 3px solid #edfcff;
  border-radius: 0.2rem;
  color: $mainGrn;
  margin: 0 auto;
  padding: 1rem;
  position: fixed;
  top: 5%;
  width: 25rem;
  z-index: 9999;
    h4 {
      color: $mainGrn;
      font-size: 1.4rem;
      margin: 0 0 1rem 0;
    }
    input {
      background: #edfcff;
      border: 3px solid $mainGrn;
      border-radius: 0.2rem;
      color: #133f37;
      display: block;
      font-size: 0.8rem;
      margin: 0.4rem auto;
      padding: 0.2rem;
      height: 1.5rem;
      width: 60%;
    }
    button {
      background: $mainGrn;
      border: 0;
      border-radius: 8px 0 8px 0;
      color: $mainLight;
      cursor: pointer;
      font-size: .9rem;
      height: 1.8rem;
      width: 5rem;
    }
    button:hover {
      color: $mainGrn;
      background: $mainYellow;
    }
    .NavLink:hover {
      color: $mainLight;
    }
    .NavLink {
      color: $mainGrn;
    }
  }

  

  