$blue: #3084de;
$burntOrange: rgb(193, 117, 59);
// $mainYellow: #f9f14d;
// $mainGrn: #133f37;

.NavBar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
    h3 {
      color: #2d2d2d;
      margin: 0 0 0 0.4rem;
    }
    h3::before {
      content: 'Welcome, ';
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.5rem;
      min-height: 2rem;
      height: 100%;
      max-height: 4rem;
      padding: 0.4rem;
      text-decoration: none;
    }
    .favorites {
      background: red;
    }
    .discover {
      background: green;
    }
}

.NavLink {
  width: 100%;
  margin: 0 0.5rem;
}

.active {
  // background-color: blue;
}

.tooltip {
  color: #FFF;
  cursor: pointer;
  background: $blue;
  border-radius: 5rem;
  display: inline-block;
  position: relative;
  margin: 5px;
  padding: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
}

.tooltip:before,
.tooltip:after {
  content: '';
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:before {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: $blue transparent transparent transparent;
  top: 1.5rem;
  right: 0.25rem;
  transform: translateY(-10px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: $blue;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 120%;
  padding: 0.8rem;
  top: 2.2rem;
  left: -4.8rem;
  width: 10rem;
  height: 2.2rem;
  transform: translateY(-20px);
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
  z-index: 9999;
}

.signup-cont {
  align-self: center;
  background: $mainYellow;
  border: 0.2rem solid $mainGrn;
  border-radius: 0.2rem;
  position: fixed;
  top: 5rem;
  margin: 0 auto;
  padding: 1rem;
  width: 25rem;
  z-index: 9999;
    h4 {
      color: $mainGrn;
      font-size: 1.4rem;
      margin: 0 0 1rem 0;
    }
    input {
      display: block;
      border-style: none;
      border-radius: 0.2rem;
      font-size: 0.8rem;
      margin: 0.4rem auto;
      padding: 0.2rem;
      height: 1.5rem;
      width: 60%;
    }
    button {
      background: $mainGrn;
      color: $mainYellow;
      cursor: pointer;
      font-size: 1rem;
      height: 1.5rem;
      width: 5rem;
    }
    button:hover {
      color: $blue;
      background-blend-mode: darken;
    }
    .NavLink {
      color: rgb(112, 146, 159);
    }
}