html {
  background-image: url("../../images/brick.jpg");
  background-repeat: repeat; 
}

.App {
  text-align: center; 
}

body {
  margin: 0; 
}

.header {
  background-color: rgba(0, 98, 178, 0.4);
  height: 7rem;
  -webkit-box-shadow: 10px 10px 63px 60px #090b24;
  -moz-box-shadow: 10px 10px 63px 60px #090b24;
  box-shadow: 10px 10px 63px 60px #090b24;
}

.title {
  background-color: #f9f14d;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  border: none;
  font: Fenice bold;
  color: rgba(0, 98, 178, 0.4);
  text-align: left;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-overflow: clip;
  letter-spacing: 3px; 
}

