$mainYellow: #f9f14d;

html {
  background-image: url('../../images/brick.jpg');
  background-repeat: repeat;
}
.App {
  text-align: center;
}

body {
  margin: 0;
}

.title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  border: none;
  font: normal 82px/normal "Anton", Helvetica, sans-serif;
  color: rgb(112, 112, 112);
  text-align: left;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-overflow: clip;
  letter-spacing: 3px;
}

