.MoviesContainer {
  column-count: 4;
  column-gap: 2rem;
  width: 100%;
  max-width: 2024px;
  margin: 0 auto;
}


@media only screen and (min-width: 2024px) {
  .MoviesContainer {
    column-count: 5;
  }
}

@media only screen and (min-width: 1050px) {
  .MoviesContainer {
    column-count: 4;
  }
}

@media only screen and (min-width: 750px) {
  .MoviesContainer {
    column-count: 3;
  }
}

@media only screen and (min-width: 550px) {
  .MoviesContainer {
    column-count: 2;
  }
}

@media only screen and (min-width: 400px) {
  .MoviesContainer {
    column-count: 1;
  }
}