.Card {
  cursor: pointer;
  box-shadow: 0px 0px 15px 5px rgba(41, 48, 53, 0.3);
  border: 0.25rem solid #fff;
  display: inline-block;
  position: relative;
  margin: 1rem 1rem;
  min-height: 20rem;
  width: 100%;
  min-width: 12rem;
  max-width: 15rem;
  transform: all 0.2s linear;
}

.Card img {
  display: block;
  width: 100%;
  z-index: -10;
}

.Card h1 {
  color: #fff;
  background: #23282dcb;
  font-size: 150%;
  position: absolute;
  top: 25rem;
  padding: 1rem;
  margin: 0;
  width: inherit;
  z-index: -99;
  text-align: center;
  transition: all 0.25s linear;
}

// .Card:hover h1 {
//   top: 10rem;
//   bottom: -2rem;
// }

.description {
  display: none;
  color: #000;
  background: #fff;
  box-shadow: 0.5rem 0 0.6rem #37434f;
  text-align: justify;
  padding: 1rem;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.20s linear;
}

.show .description {
  top: 0rem;
}

.show h1 {
  display: none;
}

.hide .description {
  top: 25rem;
}

.hide h1 {
  display: block;
}

.Card button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}